<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestor_de_Fases.Properties.Settings.PRIOFELIZConnectionString"
            connectionString="Data Source=TESLA\PRIMAVERA;Initial Catalog=PRIOFELIZ;Persist Security Info=True;User ID=CM;Password=OF€l1z201" />
        <add name="Gestor_de_Fases.Properties.Settings.ArtigoTeklaConnectionString"
            connectionString="Data Source=GALILEU\PREPARACAO;Initial Catalog=ArtigoTekla;Persist Security Info=True;User ID=SA;Password=preparacao" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>